@{
	Layout = "_PhotoLayout";

	string deleteUrl = Url.Action("DeletePhotos", new {
		familyId = Model.FamilyId
	});
}

@model PhotoSite.Models.Photos_Index_AspModel;

@section Sidebar {
	<ul class="sidebar-links" id="nav">
		@foreach (var year in Model.Sidebar) {
			<text>
				<li>
					<a href="@year.Url">@year.Label</a>

					@if (year.Children != null && year.Children.Count > 0) {
						<text>
							<ul>
								@foreach (var month in year.Children) {
									<text>
										<li><a href="@month.Url">@month.Label</a></li>
									</text>
								}
							</ul>
						</text>
					}
				</li>
			</text>
		}
	</ul>
}

<section class="photo-date">
	<div class="photo-thumbnails" id="thumbnails">
		@foreach (var thumbnail in Model.Thumbnails) {
			<text>
				<div class="photo-thumbnail" id="@thumbnail.Id" data-background-url="@thumbnail.ThumbnailUrl">
					<a href="@thumbnail.ViewerUrl" target="_blank">&nbsp;</a>

					<input type="checkbox" id="Select_@thumbnail.Id" data-id="@thumbnail.Filename" class="photo-thumbnail-select" />
				</div>
			</text>
		}
	</div>
</section>

@section Footer {
	<button class="requires-selection" id="delete-photos">🗑️ Delete</button>
	<button class="zoom-button" id="zoom-minus">-</button> Zoom <button class="zoom-button" id="zoom-plus">+</button>
}

@section Scripts {
	<script>
		(function() {
			thumbnails.render();

			document.getElementById("delete-photos").addEventListener("click", function() {
				if (confirm("Are you sure you want to delete these photos?"))
					deletePhotos();
			});

			function deletePhotos() {
				fetch("@deleteUrl", {
					method: "PUT",
					headers: { 'Content-Type': 'application/json' },
					body: JSON.stringify({
						fileIds: multiSelect.getSelectedFiles()
					})
				}).then(function() {
					clearSelectedFiles();
				});
			}

			function clearSelectedFiles() {
				let $checkboxes = multiSelect.getSelectedCheckboxes();

				for (let i = 0; i < $checkboxes.length; i++) {
					clearSelectedFile($checkboxes[i]);
				}

				multiSelect.update();
			}

			function clearSelectedFile($checkbox) {
				let $photo = $checkbox.parentElement;

				$photo.parentElement.removeChild($photo);
			}
		})();
	</script>
}