@{
	Layout = "_Layout";
	ViewBag.ScriptBundle = "~/js/photos.min.js";
}

@model PhotoSite.Models.Photos_Index_AspModel;

<header class="site-header">
	<a class="sidebar-toggler" id="sidebar-toggler">☰</a>
	
	<a href="@Url.Action("Index", "Home")">Home</a>
</header>

<nav id="sidebar" class="sidebar">
	<ul class="sidebar-links" id="nav">
		@foreach (var year in Model.Sidebar) {
			<text>
				<li>
					<a href="@year.Url">@year.Label</a>

					@if (year.Children != null && year.Children.Count > 0) {
						<text>
							<ul>
								@foreach (var month in year.Children) {
									<text>
										<li><a href="@month.Url">@month.Label</a></li>
									</text>
								}
							</ul>
						</text>
					}
				</li>
			</text>
		}
	</ul>
</nav>

<section class="photo-date">
	<div class="photo-thumbnails" id="thumbnails">
		@foreach (var thumbnail in Model.Thumbnails) {
			<text>
				<div class="photo-thumbnail" id="@thumbnail.Id" data-background-url="@thumbnail.ThumbnailUrl">&nbsp;</div>
			</text>
		}
	</div>
</section>

<footer class="footer">
	<button class="zoom-button" id="zoom-minus">-</button> Zoom <button class="zoom-button" id="zoom-plus">+</button>
</footer>

@section Scripts {
	<script>
		(function() {
			thumbnails.render();
		})();
	</script>
}