@{
	Layout = "_PhotoLayout";
}

@model PhotoSite.Models.Photos_Index_AspModel;

@section Sidebar {
	<ul class="sidebar-links" id="nav">
		@foreach (var year in Model.Sidebar) {
			<text>
				<li>
					<a href="@year.Url">@year.Label</a>

					@if (year.Children != null && year.Children.Count > 0) {
						<text>
							<ul>
								@foreach (var month in year.Children) {
									<text>
										<li><a href="@month.Url">@month.Label</a></li>
									</text>
								}
							</ul>
						</text>
					}
				</li>
			</text>
		}
	</ul>
}

<section class="photo-date">
	<div class="photo-thumbnails" id="thumbnails">
		@foreach (var thumbnail in Model.Thumbnails) {
			<text>
				<div class="photo-thumbnail" id="@thumbnail.Id" data-background-url="@thumbnail.ThumbnailUrl">
					<a href="@thumbnail.ViewerUrl" target="_blank">&nbsp;</a>
					<input type="checkbox" id="Select_@thumbnail.Id" class="photo-thumbnail-select" />

				</div>
			</text>
		}
	</div>
</section>

@section Footer {
	<button class="zoom-button" id="zoom-minus">-</button> Zoom <button class="zoom-button" id="zoom-plus">+</button>
}

@section Scripts {
	<script>
		(function() {
			thumbnails.render();
		})();
	</script>
}