@{
	Layout = "_PhotoLayout";

	string deleteUrl = Url.Action("DeletePhotos", new {
		familyId = Model.FamilyId
	});
}

@model PhotoSite.Models.Photos_Viewer_AspModel;

<div class="photo-viewer" style="background-image: url('@Model.PhotoUrl');">
	@if (Model.PrevPhotoUrl != null) {
		<text>
			<a href="@Model.PrevPhotoUrl" class="photo-viewer-adjacent photo-viewer-prev" id="prev-photo">&lt;</a>
		</text>
	}

	@if (Model.NextPhotoUrl != null) {
		<text>
			<a href="@Model.NextPhotoUrl" class="photo-viewer-adjacent photo-viewer-next" id="next-photo">&gt;</a>
		</text>
	}

	<div id="close-photo-viewer" class="close-photo-viewer">x</div>
</div>

<style>
	body {
		overflow: hidden;
	}
</style>

@section Sidebar {
	@if (Model.ExifData.Count > 0)
	{
		<text>
			<div class="sidebar-section collapsible-sidebar-section">
				<label for="exif-data-collapsible" class="sidebar-section-title">📷 EXIF Data</label>
				<input type="checkbox" id="exif-data-collapsible" />
				<ul class="collapsible-sidebar-links" id="exif-data">
					@foreach (var exifDatum in Model.ExifData)
					{
						<text>
							<li>
								<div class="sidebar-section-item"><strong>@exifDatum.Key:</strong> @exifDatum.Value</div>
							</li>
						</text>
					}
				</ul>
			</div>
		</text>
	}
}

@section Footer {
	<div class="footer-left">
		<a href="@(@Model.PhotoUrl)?download=true">
			<button type="button">💾 Download</button>
		</a>
		
		<button type="button" id="delete-photo">🗑️ Delete</button>
	</div>
}

@section Scripts {
	<script>
		(function() {
			const FILENAME = "@Model.Filename",
				LEFT_KEY = 37,
				RIGHT_KEY = 39;

			let _$closeBtn = document.getElementById("close-photo-viewer"),
				_$deleteBtn = document.getElementById("delete-photo"),
				_$prevBtn = document.getElementById("prev-photo"),
				_$nextBtn = document.getElementById("next-photo"),
				_touchStartX = 0,
				_touchEndX = 0;

			_$closeBtn.addEventListener("click", function() {
				window.close();
			})

			_$deleteBtn.addEventListener("click", function() {
				if (confirm("Are you sure you want to delete this photo?"))
					deleteFile();
			});

			document.addEventListener("keyup", function(e) {
				if (e.which === LEFT_KEY)
					goToPrevPhoto();
				else if (e.which === RIGHT_KEY)
					goToNextPhoto();
			});


			document.addEventListener('touchstart', function(e) {
				_touchStartX = e.changedTouches[0].screenX
			});

			document.addEventListener('touchend', function(e) {
				_touchEndX = e.changedTouches[0].screenX
				checkDirection()
			});

			function checkDirection() {
				if (_touchStartX > _touchEndX)
					goToNextPhoto();
				else if (_touchStartX < _touchEndX)
					goToPrevPhoto();
			}

			function goToPrevPhoto() {
				if (_$prevBtn)
					_$prevBtn.click();
			}

			function goToNextPhoto() {
				if (_$nextBtn)
					_$nextBtn.click();
			}

			function deleteFile() {
				fetch("@deleteUrl", {
					method: "PUT",
					headers: { 'Content-Type': 'application/json' },
    				body: JSON.stringify({ fileIds: ["@Model.Filename"] })
				}).then(function() {
					window.close();
				});
			}
		})();
	</script>
}