@{
    string styleBundle = ViewBag.StyleBundle ?? "~/css/site.min.css",
        styleBundleUrl = Url.Content(styleBundle),
        styleBundlePath = styleBundle.Replace("~", "wwwroot"),

        scriptBundle = ViewBag.ScriptBundle ?? "~/js/site.min.js",
        scriptBundleUrl = Url.Content(scriptBundle),
        scriptBundlePath = scriptBundle.Replace("~", "wwwroot");
}

@inject PhotoSite.Bundling.BundleFile _bundler;

<!doctype html>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <environment exclude="Development">
        <link rel="stylesheet" href="@styleBundleUrl" />
    </environment>

    <environment include="Development">
        @foreach (string stylesheet in _bundler.ExpandBundle(styleBundlePath)) {
            <text>
                <link rel="stylesheet" href="@Url.Content(stylesheet)" />
            </text>
        }
    </environment>
</head>

<body id="app">
    @RenderBody()

    <div id="mobile-detector"></div>
    
    <environment exclude="Development">
        <script src="@scriptBundleUrl"></script>
    </environment>

    <environment include="Development">
        @foreach (string script in _bundler.ExpandBundle(scriptBundlePath)) {
            <text>
                <script src="@Url.Content(script)"></script>
            </text>
        }
    </environment>

    @RenderSection("Scripts", false)
</body>

</html>