@{
	Layout = "_Layout";
	ViewBag.ScriptBundle = "~/js/photos.min.js";
}

<header class="site-header">
	<a class="sidebar-toggler" id="sidebar-toggler">☰</a>
	
	@RenderSection("Header", false)
</header>

<nav id="sidebar" class="sidebar">
    @RenderSection("Sidebar", false)
</nav>

@RenderBody()

<footer class="footer">
    @RenderSection("Footer", false)
</footer>

@section Scripts {
    @RenderSection("Scripts", false)
}